	
<%= form_for @task do |f| %>

    <div class="field">
        <%= f.label :title, "Title" %><br>
        <%= f.text_field :title, id: "title", :value => "apply to #{@company} - #{@position}", :required => true  %>
    </div>

    <div class="field">
        <%= f.label :due_date %><br>
        <%= f.date_field :due_date, id: "due-date" %>
    </div>          

    <div class="field">
        <%= f.label :description, "Description" %><br>
        <%= f.text_area :description, id: "description", rows: 10 %>
    </div>

    <div class="actions">
        <%= f.submit "SAVE" %>
    </div>

<% end %>


   

