<div class='user-id' data-id="<%= @task.user.id %>"></div>
<div class='task-id' data-id="<%= @task.id %>"></div>
<div id='task-show-wrapper' class='show-container'>
    <div class='heading-container contact-item-container'>
        <div class='edit-delete'>
            <td><%= link_to "Edit", edit_task_path(@task) %></td>
            <td><%= link_to "Delete", task_path(@task), :method => :delete %></td>
        </div>

        <span class="headline pg-btn btn-previous"><i class="fa fa-long-arrow-left"></i></span>
        <h1 id='task-title' class='headline'><%= @task.title %></h1>
        <span class="headline pg-btn btn-next"><i class="fa fa-long-arrow-right"></i></span>
    </div> <!-- close container -->

    <div id="task-description-container">
        <div id='task-description'>
        	<h3>Description: <%= @task.description %></h3>
        </div>
        <div id='date-due'><h3>DUE DATE: <%= format_date(@task.due_date) %></h3></div>
    </div> <!-- close container -->

    <div id='completed-container'>
        <section id='completed-section'>
            <div id='task-completed-string'></div>
            <div id='completed-toggle'><input type="checkbox" id="switch"><label id='switch-label' for="switch">Toggle</label></div>
        </section>
    </div> <!-- close container -->

    <div class='linked-items'>
        <section class='linked-items-section'>
            <div id='task-linked-doc-container' class='linked-container'>
                <% if @task.documents != [] %>   
                    <h2 class='linked-item'>LINKED DOCUMENTS</h2>
                    <input type="submit" name="commit" value="unLink Document" id="btn-add-contact" class='unlink-doc' data-disable-with="Link Contact">
                <% else %>
                    <h2 class='unlinked-item'>No linked Documents</h2>
                    <%= render 'documents/document_task_dropdown' %>
                <% end %>
            </div> <!-- close container -->

            <div id='task-linked-contact-container' class='linked-container'>
                <% if @task.contacts != [] %>   
                    <h2 class='linked-item'>LINKED CONTACTS </h2>
                    <input type="submit" name="commit" value="unLink Document" id="btn-add-contact" class='unlink-contact' data-disable-with="Link Contact">
                <% else %>
                    <h2 class='unlinked-item'>No linked contacts</h2>
                    <%= render 'contacts/contact_task_dropdown' %>
                <% end %>
            </div> <!-- close container -->

            <div id='task-linked-job-container' class='linked-container'>
                <% if @task.jobs != [] %>   
                    <h2 class='linked-item'>LINKED JOBS</h2>
                    <input type="submit" name="commit" value="unLink Document" id="btn-add-contact" class='unlink-job' data-disable-with="Link Contact">
                <% else %>
                    <h2 class='unlinked-item'>No linked jobs</h2>
                    <%= render 'jobs/job_task_dropdown' %>
                <% end %>
            </div> <!-- close container -->
        </section>
    </div> <!-- close linked items-->
</div> <!-- close wrapper -->




<script>

var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

const displayCompletedStatus = function(task) {
    $('#task-completed-string').html(task.completedString())
    console.log('running')
    let tog = document.getElementById("switch")
    tog.checked = task.completed;
}

const toggleCompleted = function (task) {
    // place click listener on toggle
    $('#switch').on('click', function() {
        // route changing to new status
        task.completed = !task.completed;
        $.get(`/tasks/${task_id}/completed?q=${task.completed}`, function(data) {
            $('#task-completed-string').html(task.completedString(task.completed))
        })
    })
}


//BUTTON LISTENER, SEND PATCH W CONTACT TO CONTROLLER, 
const linkTaskContact = function() {
    $('#btn-add-contact').on('click', function(e) {
        e.preventDefault()
        var form = $('#add-contact')
        var action = form.attr('action')
        var data = form.serialize()
        data.authenticity_token = AUTH_TOKEN;

        $.ajax({url: `/tasks/${task_id}/link_contact`, 
            data: data, 
            type: "PATCH", 
            success: function (response) {
                contact = new Contact(response, user_id)
                $("#task-contacts").append(contact.formatSpan())
                alert('success') 
            },
            error: function (response) {
                alert('no success') }
        })
    })
}

$( document ).on('turbolinks:load', function() {
    user_id = $(".user-id").data("id")
    task_id = $(".task-id").data("id")
    console.log('window load')

    $.get(`/users/${user_id}/tasks/${task_id}.json`, function(data) {
        console.log('sending')
        task = new Task(data, user_id)
        console.log(task)
        displayCompletedStatus(task)
        toggleCompleted(task)

    });
    
})


</script>
