<style>

#job-show-wrapper {
	display: grid;
	grid-template-columns:  1fr;
	padding: 0 35px;
}

.heading-container {
	margin: 15px 0;
	padding: 0;
	text-align: center;
}

h1#job-company-position {
	font-size: 25px;
}

#date-section {
  display: flex;
  justify-content: center;
}

#date-section > div {
	margin: 0 15px;
}

#applied-container {
	padding-bottom: 20px;
	border-bottom: solid black 1px;
}

#applied-section {
  display: flex;
  justify-content: center;
}

#applied-section > div {
	margin: 0 15px;
}

#applied-bool {
	margin-top: 18px;
}

.job-content-container {
	text-align: left;
	overflow: scroll;
	padding-bottom: 10px;
	border-bottom: dotted 1px black;
}

.linked-items > div {
	border-bottom: dotted 1px black;
}

#switch {
	margin: 0;
	padding: 0;
}




@media only screen and (min-width: 950px) {


	#job-show-wrapper {
		display: grid;
		grid-template-columns: 300px 1fr 1fr;
	}

	.heading-container {
		grid-column: 1/4;
		margin: 0;
		margin-top: 30px;
		padding: 0;
		text-align: center;
	}

	h1#job-company-position {
		font-size: 35px;
	}

	.edit-delete {
		float: right;
	}


	.pg-btn {
	    margin-top: 6px;
		margin: 6px 30px 0 30px;
	    font-size: 40px;
	    color: #4c4a4a;
	}

	.pg-btn:hover {
		color: #a81515;
	}


	#dates-container {
		grid-column: 1/4;
	}

	#applied-container {
		grid-column: 1/4;
	}




	/* JOB CONTENT */

	.job-content-container {
		padding: 25px;
	}

	.job-desc-container {
		grid-column: 2;
		grid-row: 4; 
		padding-left: 25px;
		border-right: solid black 1px;
		border-bottom: solid black 1px;
	}

	.job-co-container {
		grid-column: 3;
		grid-row: 4; 
		border-bottom: solid black 1px;
	}

	.job-reqs-container {
		grid-column: 2;
		grid-row: 5; 
		padding-left: 25px;
		border-right: solid black 1px;
		border-bottom: solid black 1px;
	}

	.job-notes-container {
		grid-column: 3;
		grid-row: 5; 
		border-bottom: solid black 1px;
	}


	/* SIDEBAR */

	.link-field {
		padding: 0 35px 0;
	}

	.linked-items {
		grid-column: 1;
		grid-row: 4/6; 
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.linked-items > div {
		border-bottom: dotted 1px black;
	}


	.link-doc-container {
		padding: 26px 0 30px;
		border-right: solid black 1px;
		display: inline-block;

	}


	/*CONSOLIDATE ME*/
	#btn-add-document {
		font-size: 16px;
		height: 35px;
		margin: 0;
		padding: 0;
	}
	#btn-add-contact {
		font-size: 16px;
		height: 35px;
		margin: 0;
		padding: 0;
	}


	/*CONSOLIDATE ME*/
	.link-contact-container {
		padding: 10px 0 30px;
		border-right: solid black 1px;
	}
	.link-task-container {
		padding: 10px 0 30px;
		border-right: solid black 1px;
	}


	#linked-docs {
		grid-column: 1;
		grid-row: 2;
	}

	#add-doc-link {
		grid-column: 1;
		grid-row: 3;
	}

	#job_document_ids {
		margin: 0;
	}

	#job_contact_ids {
		margin: 0;
	}

}

/* SHOULD BE GLOBAL FOR ALL CREATE ITEMS*/
p.create-item a{
	color: #B50000;
}

</style>




<div class='user-id' data-id="<%= @job.user.id %>"></div>
<div class='job-id' data-id="<%= @job.id %>"></div>

<div id='job-show-wrapper'>

	<div class='heading-container'>
		<div class='edit-delete'>
			<td><%= link_to "Edit", edit_user_job_path(@job.user, @job) %></td>
		    <td><%= link_to "Delete", user_job_path(@job.user, @job), :method => :delete %></td>
		</div>
	    <span class="headline pg-btn btn-previous"><i class="fa fa-long-arrow-left"></i></span>
	    <h1 id='job-company-position' class='headline'><%= @job.company %> - <%= @job.position %></h1>
		<span class="headline pg-btn btn-next"><i class="fa fa-long-arrow-right"></i></span>
	</div>


	<div id='dates-container'>
		<section id="date-section">
			<div><h3 class='posted-date'>Posted Date: <%= format_date(@job.date_posted) %></h3></div>
			<div><h3> Closing Date: xxx</h3></div>
			<div><h3 class='post-to'><a href="<%= @job.url %>" target="_blank">Go to Posting</a></h3></div>
		</section>
	</div>


	<div id='applied-container'>
		<section id='applied-section'>
			<div id='job-applied'></div>
			<div id='applied-toggle'><input type="checkbox" id="switch"><label id='switch-label' for="switch">Toggle</label></div>
		</section>
	</div>

	
	<div class='job-desc-container job-content-container'>
		<% if @job.job_desc != "" %>
			<h2> Job Description </h2>
			<h3 class='descriptions'><%= @job.job_desc %></h3>
		<% else %>
			<h2>This job has no job description</h2>
			<p class='create-item'><%= link_to "add job description", edit_user_job_path(@job.user, @job) %></p>
		<% end %>
	</div>


	<div class='job-co-container job-content-container'>
		<% if @job.co_desc != "" %>
			<h2> Company Description </h2>
			<h3 class='descriptions'><%= @job.co_desc %></h3>
		<% else %>
			<h2>This job has no company description</h2>
			<p class='create-item'><%= link_to "add company description", edit_user_job_path(@job.user, @job) %></p>
		<% end %>
	</div>



	<div class='job-reqs-container job-content-container'>
		<h2>Job Requirements</h2>
		<h3>5 years dev experience, CS or similar degree, writes DRY code.</h3>
		<p class='create-item'><%= link_to "add requirement", edit_user_job_path(@job.user, @job) %></p>

	</div>



	<div class='job-notes-container job-content-container'>
		<h2>Job Notes</h2>
		<h3>Remember to mention xxxx and yyyyy. Contact suggested that I practice ....</h3>
		<p class='create-item'><%= link_to "add company description", edit_user_job_path(@job.user, @job) %></p>

	</div>



	<div class='linked-items'>

		<div class='link-doc-container'>
			<div id='linked-docs'>
		    	<h2>LINKED DOCUMENTS</h2>
		    	<div id='job-documents'></div>
		    </div>

		    <div id='add-doc-link'>
	    		<%= render 'documents/document_dropdown' %>
	    	</div>
	    </div>

	    <div class='link-contact-container'>
	    	<div id='linked-contacts'>
		    	<h2>LINKED CONTACTS</h2>
		    	<div id='job-contacts'></div>
		    </div>

		    <div id='add-contact-link'>
				<%= render 'contacts/contact_dropdown' %>
			</div>
	    </div>

	    <div class='link-task-container'>
	    	<h2>LINKED TASKS</h2>
			<% if @job.tasks.length > 0%>
				<!-- <div id='task-list'></div> -->
		    	<%= render partial: "tasks/task", collection: @job.tasks || "No Linked Tasks" %>
		    <% else %>
		    	<h3>You have no linked tasks</h3>
			<% end %>
			<p class='create-item'><%= link_to "create a task", new_user_task_path(@job.user) %></p>
	    </div>

	</div>



</div> <!-- close wrapper -->





<script>

//REQUEST JOB JSON






$( document ).on('turbolinks:load', function() {
	user_id = $(".user-id").data("id")
	job_id = $(".job-id").data("id")

	$.get(`/users/${user_id}/jobs/${job_id}`, function(data) {

		job = new Job(data, user_id)

	    displayAppliedDetails(job)  //creates string and toggle elements
		toggleApplied(job) //connects applied click listener

		getDocuments(data)
		getContacts(data)

	    nextButton()
	    previousButton()

		linkContact()
		linkDocument()
		
		unlinkContact()
		unlinkDocument()

		docClick()
		contactClick()
	},'json'
	);
})


//RETRIEVE JOB DOCUMENTS, CREATE CONSTANT INSTANCE, APPEND DOCUMENTS
const getDocuments = function (data) {
    jQuery(data['documents']).each(function(i, document){
        let d = new Document(document, user_id)
        $("#job-documents").append(d.formatSpan())
    })
}


//RETRIEVE JOB CONTACTS, CREATE CONSTANT INSTANCE, APPEND CONTACTS
const getContacts = function (data) {
    jQuery(data['contacts']).each(function(i, contact){
        let c = new Contact(contact, user_id)
        $("#job-contacts").append(c.formatSpan())
    })
}




//CHANGE APPLIED STATUS USING TOGGLE
const toggleApplied = function (job) {
	// place click listener on toggle
	$('#switch').on('click', function() {
		// route changing to new status
	    job.applied = !job.applied;
	    $.get(`/users/${user_id}/jobs/${job_id}/applied?q=${job.applied}`, function(data) {
	    	$('#job-applied').html(job.appliedString(job.applied))
	    })
	})
}


//DISPLAY APPLIED STRING AND TOGGLE STATUS
const displayAppliedDetails = function (job) {
	// renders yes/no string to applied status
	$('#job-applied').html(job.appliedString())
	// identifies toggle element and positions according to status
	let tog = document.getElementById("switch")
	tog.checked = job.applied;
}








//LISTENER FOR NEXT BUTTON - SENDS TO USER'S NEXT JOB
const nextButton = function() {
	$('.btn-next').on('click', function() {
		let nextPg = `${job_id}/next`
		window.location.href = nextPg;
	})
}

//LISTENER FOR PREVIOUS BUTTON - SENDS TO USER'S PREVIOUS JOB
const previousButton = function() {
	$('.btn-previous').on('click', function() {		
		let previousPg = `${job_id}/previous`
		window.location.href = previousPg;
	})
}






//BUTTON LISTENER, SEND PATCH W CONTACT TO CONTROLLER, 
const linkContact = function() {
	$('#btn-add-contact').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-contact')
		var action = form.attr('action')
		var c_id = form.serialize()

		$.ajax({url: `/users/${user_id}/jobs/${job_id}/add_contact`, 
			data: c_id, 
			type: "PATCH", 
            success: function (data) {
            	contact = new Contact(data, user_id)
				$("#job-contacts").append(contact.formatSpan())
                alert('success') 
            },
            error: function (data) {
                alert('no success') }
        })
	})
}


//BUTTON LISTENER, SEND PATCH W DOCUMENT TO CONTROLLER, 
const linkDocument = function() {

	$('#btn-add-document').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-document')
		var action = form.attr('action')
		var d_id = form.serialize()

		console.log('jdshxfjhsdfhsjdfs', d_id)

		$.ajax({url: `/users/${user_id}/jobs/${job_id}/add_document`,
		data: d_id,
		type: "PATCH", 
        success: function (data) {
        	doc = new Document(data, user_id)
			$("#job-documents").append(doc.formatSpan())
            alert('success') },
        error: function (data) {
            alert('no success') }
        })
	})
}




//TOGREMOVE JOB CONTACT 
const unlinkContact = function() {
	$('span.remove-contact').on('click', function(e) {
		let contact_id = this.id

		$.ajax({
			type: "DELETE", 
			url: `/users/${user_id}/jobs/${job_id}/contact/${contact_id}`,
			data: contact_id,
			dataType: 'json',
			contentType : 'application/json',
			processData: false,
	        success: function (data) {
	        	console.log('success')
				let id = data['id']
		    	$("#contactItem-" + id).remove()
		    	$("#" + id).remove();
		    },
	        error: function (data) {
	            alert('no success') }
	        })

	})
}



//BUTTON LISTENER, REMOVE JOB DOCUMENT 
const unlinkDocument = function() {
	$(document.body).on('click', 'span.remove-document', function(e) {
		let d_id = this.id
	    $.get(`/users/${user_id}/jobs/${job_id}/unlink_document?q=${d_id}`, function(data) {
	    	let id = data['id']
	    	$("#documentItem-" + id).remove()
	    	$("#" + id).remove()	 
	    })
	})
}


const docClick = function() {
	var clicks = 0

	$(document.body).on('click', "i.doc", function() {
		var id = this.id
		console.log('doc')

	if (clicks % 2 == 0) {
		$('.document.'+id).css('display', 'block')
		clicks++
		}
	else {
		$('.document.'+id).css('display', 'none')
		clicks++
		} 
	});
}







const contactClick = function() {
	var clicks = 0

	$("i.contact").on('click', function() {
		var id = this.id
		console.log('contact')

	if (clicks % 2 == 0) {
		$('.contact.'+id).css('display', 'block')
		clicks++
		}
	else {
		$('.contact.'+id).css('display', 'none')
		clicks++
		} 
	});
}





</script>











