
<div class='user-id' data-id="<%= @job.user.id %>"></div>
<div class='job-id' data-id="<%= @job.id %>"></div>
<div id='job-show-wrapper' class='show-container'>
	<div class='heading-container'>
		<div class='edit-delete'>
			<td><%= link_to "Edit", edit_job_path(@job) %></td>
		    <td><%= link_to "Delete", job_path(@job), method: :delete %></td>
		</div>
	    <span class="headline pg-btn btn-previous"><i class="fa fa-long-arrow-left"></i></span>
	    <h1 id='job-company-position' class='headline'><%= @job.company %> - <%= @job.position %></h1>
		<span class="headline pg-btn btn-next"><i class="fa fa-long-arrow-right"></i></span>
	</div> <!-- close container -->

	<div id='dates-container'>
		<section id="job-date-section">
			<div><h3 class='posted-date'>Posted Date: <%= format_date(@job.date_posted) %></h3></div>
			<% if @job.closing_date != nil %>
				<div><h3> Closing Date: <%= @job.closing_date %></h3></div>
			<% end %>
			<div><h3 class='link-to'><a href="<%= @job.url %>" target="_blank">Go to Posting</a></h3></div>
		</section>
	</div> <!-- close container -->

	<div id='applied-container'>
		<section id='applied-section'>
			<div id='job-applied'></div>
			<div id='applied-toggle'><input type="checkbox" id="switch"><label id='switch-label' for="switch">Toggle</label></div>
		</section>
	</div> <!-- close container -->

	<div id='job-desc-container' class='job-content-container'>
		<% if @job.job_desc != "" %>
			<h2> Job Description </h2>
			<h3 class='descriptions'><%= @job.job_desc %></h3>
		<% else %>
			<h2>This job has no job description</h2>
			<p class='create-item'><%= link_to "add job description", edit_job_path(@job) %></p>
		<% end %>
	</div> <!-- close container -->

	<div id='job-co-container' class='job-content-container'>
		<% if @job.co_desc != "" %>
			<h2> Company Description </h2>
			<h3 class='descriptions'><%= @job.co_desc %></h3>
		<% else %>
			<h2>This job has no company description</h2>
			<p class='create-item'><%= link_to "add company description", edit_job_path(@job) %></p>
		<% end %>
	</div> <!-- close container -->

	<div id='job-reqs-container' class='job-content-container'>
		<% if @job.requirements != "" %>
			<h2> Requirements </h2>
			<h3 class='descriptions'><%= @job.requirements %></h3>
		<% else %>
			<h2>This job has no company requirements</h2>
			<p class='create-item'><%= link_to "add requirements", edit_job_path(@job) %></p>
		<% end %>
	</div> <!-- close container -->

	<div id='job-notes-container' class='job-content-container'>
		<% if @job.notes != "" %>
			<h2> Notes </h2>
			<h3 class='descriptions'><%= @job.notes %></h3>
		<% else %>
			<h2>This job has no company notes</h2>
			<p class='create-item'><%= link_to "add notes", edit_job_path(@job) %></p>
		<% end %>
	</div> <!-- close container -->

	<div class='linked-job-items'>
		<div class='link-doc-container link-container'>
			<div id='job-linked-docs'  class='job-linked-items'>
		    	<h2>LINKED DOCUMENTS</h2>
		    	<div id='job-documents'></div>
		    </div>

		    <div id='add-doc-link'>
	    		<%= render 'documents/document_dropdown' %>
	    	</div>
	    </div> <!-- close container -->

	    <div class='link-contact-container link-container'>
	    	<div id='job-linked-contacts' class='job-linked-items'>
		    	<h2>LINKED CONTACTS</h2>
		    	<div id='job-contacts'></div>
		    </div>

		    <div id='add-contact-link'>
				<%= render 'contacts/contact_dropdown' %>
			</div>
	    </div> <!-- close container -->

	    <div class='link-task-container link-container'>
	    	<h2>LINKED TASKS</h2>
			<% if @job.tasks.length > 0%>
				<!-- <div id='task-list'></div> -->
		    	<%= render partial: "tasks/task", collection: @job.tasks || "No Linked Tasks" %>
		    <% else %>
		    	<h3>You have no linked tasks</h3>
			<% end %>
			<p class='create-item'><%= link_to "create a task", new_task_path %></p>
	    </div> <!-- close container -->
	</div> <!-- close linked items -->
</div> <!-- close wrapper -->





<script>

var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

//LISTENER FOR NEXT BUTTON - SENDS TO USER'S NEXT JOB
const nextButton = function() {
	$('.btn-next').on('click', function() {
		let nextPg = `/jobs/${job_id}/next`
		window.location.href = nextPg;
	})
}

//LISTENER FOR PREVIOUS BUTTON - SENDS TO USER'S PREVIOUS JOB
const previousButton = function() {
	$('.btn-previous').on('click', function() {		
		let previousPg = `/jobs/${job_id}/previous`
		window.location.href = previousPg;
	})
}

//RETRIEVE JOB DOCUMENTS, CREATE CONSTANT INSTANCE, APPEND DOCUMENTS
const getDocuments = function (data) {
    jQuery(data['documents']).each(function(i, document){
        let d = new Document(document, user_id)
        $("#job-documents").append(d.formatSpan())
    })
}

//RETRIEVE JOB CONTACTS, CREATE CONSTANT INSTANCE, APPEND CONTACTS
const getContacts = function (data) {
    jQuery(data['contacts']).each(function(i, contact){
        let c = new Contact(contact, user_id)
        $("#job-contacts").append(c.formatSpan())
    })
}

//CHANGE APPLIED STATUS USING TOGGLE
const toggleApplied = function (job) {
	// place click listener on toggle
	$('#switch').on('click', function() {
		// route changing to new status
	    job.applied = !job.applied;
	    $.get(`/jobs/${job_id}/applied?q=${job.applied}`, function(data) {
	    	$('#job-applied').html(job.appliedString(job.applied))
	    })
	})
}

//DISPLAY APPLIED STRING AND TOGGLE STATUS
const displayAppliedDetails = function (job) {
	// renders yes/no string to applied status
	$('#job-applied').html(job.appliedString())
	// identifies toggle element and positions according to status
	let tog = document.getElementById("switch")
	tog.checked = job.applied;
}



//BUTTON LISTENER, SEND PATCH W CONTACT TO CONTROLLER, 
const linkContact = function() {
	$('#btn-add-contact').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-contact')
		var action = form.attr('action')
		var data = form.serialize()
		data.authenticity_token = AUTH_TOKEN;
		$.ajax({
			url: `/jobs/${job_id}/link_contact`, 
			data: data, 
			type: "PATCH",
			dataType: 'json',
            success: function (data) {
            	contact = new Contact(data, user_id)
				$("#job-contacts").append(contact.formatSpan())
                alert('success') 
            },
            error: function (data) {
            	console.log('fail')
            	console.log(data)
                alert('no success') }
        })
	})
}


//BUTTON LISTENER, SEND PATCH W DOCUMENT TO CONTROLLER, 
const linkDocument = function() {

	$('#add-document').on('submit', function(e) {
		e.preventDefault()
		var form = $('#add-document')
		var action = form.attr('action')
		var data = form.serialize()
		data.authenticity_token = AUTH_TOKEN;
		$.ajax({
		url: action,
		data: data,
		type: "PATCH", 
        success: function (data) {
        	doc = new Document(data, user_id)
			$("#job-documents").append(doc.formatSpan())
            alert('success') },
        error: function (data) {
            alert('no success') }
        })
	})
}



// REMOVE JOB CONTACT 
const unlinkContact = function() {

	$(document.body).on('click', 'span.remove-contact', function(e) {
		let contactId = this.id

		$.ajax({
			type: "DELETE", 
			url: `/jobs/${job_id}/contacts/${contactId}/unlink`,
			dataType: 'json',
			data: {authenticity_token: AUTH_TOKEN},

	        success: function (data) {
	        	console.log(data)
				let id = data['id']
		    	$("#contactItem-" + id).remove()
		    	$("#" + id).remove();
		    	$('.remove-contact.'+ id).remove()
		    },
	        error: function (data) {
	            alert('no success') }
	    })
	})
}

// BUTTON LISTENER, REMOVE JOB DOCUMENT 
const unlinkDocument = function() {

	$(document.body).on('click', 'span.remove-document', function(e) {
		let documentId = $(this).data('id')

		$.ajax({
			type: "DELETE", 
			url: `/jobs/${job_id}/documents/${documentId}/unlink`,
			data: {authenticity_token: AUTH_TOKEN},
			dataType: 'json',
	        success: function (data) {
				let id = data['id']
		    	$("#documentItem-" + id).remove()
		    	$("#" + id).remove();
		    },
	        error: function (data) {
	            alert('no success') }
	    })
	})
}

// OPEN DOC DROPDOWN SPAN
const docClick = function() {
	var clicks = 0

	$(document.body).on('click', "i.doc", function() {
		var id = this.id

	if (clicks % 2 == 0) {
		$('.document.'+id).css('display', 'block')
		clicks++
		}
	else {
		$('.document.'+id).css('display', 'none')
		clicks++
		} 
	});
}

// OPEN CONTACT DROPDOWN SPAN
const contactClick = function() {
	var clicks = 0

	$(document.body).on('click', "i.contact", function() {
		var id = this.id

	if (clicks % 2 == 0) {
		$('.contact.'+id).css('display', 'block')
		clicks++
		}
	else {
		$('.contact.'+id).css('display', 'none')
		clicks++
		} 
	});
}

$( document ).on('turbolinks:load', function() {
	user_id = $(".user-id").data("id")
	job_id = $(".job-id").data("id")

	$.get(`/jobs/${job_id}`, function(data) {
		console.log('after ajax finishes..')
		job = new Job(data, user_id)

	    displayAppliedDetails(job)  //injects string and toggle elements
		toggleApplied(job) //connects applied click listener

		getDocuments(data) //
		getContacts(data)

	    nextButton()
	    previousButton()

		linkContact()
		linkDocument()
		
		unlinkContact()
		unlinkDocument()

		docClick()
		contactClick()
	},'json'
	);
})

</script>










