
<div id='job-show-wrapper'>
	<div class='user-id' data-id="<%= @job.user.id %>"></div>
	<div class='job-id' data-id="<%= @job.id %>"></div>

	<div id='top'>
		<span class="headline pg-btn btn-previous"><button>Previous</button></span>
	    <h1 id='job-company-position' class='headline'><%= @job.company %> - <%= @job.position %></h1>
	    <span class="headline pg-btn btn-next"><button>Next</button></span>
		<div class='details-container'>
			<section id='applied-container'>
				<div><h3 class='posted-date one'>Posted Date: <%= format_date(@job.date_posted) %></h3><div>
				<div><h3 class='link two'><a href="<%= @job.url %>" target="_blank">Go to Posting</a></h3></div>
			</section>
			<div id='job-applied'></div>
			<div id='applied-btn'></div>
			<div>
				<td><%= link_to "Edit", edit_user_job_path(@job.user, @job) %></td>
			    <td><%= link_to "Delete", user_job_path(@job.user, @job), :method => :delete %></td>
			</div>
		</div>
	</div> <!-- close top -->
	

	<div id='mid'>
	    <div id='job-docs-col' class='links-col'>
	    	<%= render 'documents/document_dropdown' %>
	    	<h2>LINKED DOCUMENTS</h2>
	    	<div id='job-documents'></div>
	    </div> <!-- close column -->

	    <div id='job-contacts-col' class='links-col'>
			 <%= render 'contacts/contact_dropdown' %>
	    	<h2>LINKED CONTACTS</h2>
	    	<div id='job-contacts'></div>
	    </div> <!-- close column -->

	    <div id='job-tasks-col' class='links-col'>
			<% if @job.tasks.length > 0%>
				<!-- <div id='task-list'></div> -->
		    	<h2>TASKS</h2>
		    	<%= render partial: "tasks/task", collection: @job.tasks || "No Linked Tasks" %>
		    <% else %>
		    	<h2>NO LINKED TASKS</h2>
			<% end %>
	    </div> <!-- close column -->

	</div> <!-- close mid -->


	<div id='bottom'>
		<div class='col-5'>.</div>

		<div class='col-4 left-col'>
			<% if !!@job.job_desc %>
				<h2> View Job Description </h2>
				<h3 class='descriptions'><%= @job.job_desc %></h3>
			<% else %>
				<h2>This job has no job description<h2>
			<% end %>
		</div>

		<div class='col-4 right-col'>	
			<% if !!@job.co_desc %>
				<h2> View Company Description </h2>
				<h3 class='descriptions'><%= @job.co_desc %></h3>
			<% else %>
				<h2>This job has no company description</h2>
			<% end %>
		</div>

		<div class='col-5'>.</div>
	</div> <!-- close bottom -->

</div> <!-- close wrapper -->





<script>

//REQUEST JOB JSON
$( document ).on('turbolinks:load', function() {
	user_id = $(".user-id").data("id")
	job_id = $(".job-id").data("id")

	$.get(`/users/${user_id}/jobs/${job_id}`, function(data) {

		job = new Job(data, user_id)

	    displayAppliedDetails(job)
		buttonApplied(job)

		getDocuments(data)
		getContacts(data)

	    nextButton()
	    previousButton()

		linkContact()
		linkDocument()
		
		unlinkContact()
		unlinkDocument()

		docClick()
		contactClick()
	},'json'
	);
})


//RETRIEVE JOB DOCUMENTS, CREATE CONSTANT INSTANCE, APPEND DOCUMENTS
const getDocuments = function (data) {
    jQuery(data['documents']).each(function(i, document){
        let d = new Document(document, user_id)
        $("#job-documents").append(d.formatSpan())
    })
}


//RETRIEVE JOB CONTACTS, CREATE CONSTANT INSTANCE, APPEND CONTACTS
const getContacts = function (data) {
    jQuery(data['contacts']).each(function(i, contact){
        let c = new Contact(contact, user_id)
        $("#job-contacts").append(c.formatSpan())
    })
}




//CHANGE APPLIED STATUS
const buttonApplied = function (job) {
	$('#add-applied').on('click', function() {
	    $.get(`/users/${user_id}/jobs/${job_id}/applied?q=${!job.applied}`, function(data) {
	    	$('#job-applied').empty()
            $('#applied-btn').empty()
	    	$('#job-applied').append(job.appliedString(!job.applied))
			$('#applied-btn').append(job.appliedButton(!job.applied))
	    })
	})
}



//DISPLAY APPLIED STATUS BUTTON AND TEXT
const displayAppliedDetails = function (job) {
	$('#job-applied').append(job.appliedString())
	$('#applied-btn').append(job.appliedButton())
}





//LISTENER FOR NEXT BUTTON - SENDS TO USER'S NEXT JOB
const nextButton = function() {
	$('.btn-next').on('click', function() {
		let nextPg = `${job_id}/next`
		window.location.href = nextPg;
	})
}

//LISTENER FOR PREVIOUS BUTTON - SENDS TO USER'S PREVIOUS JOB
const previousButton = function() {
	$('.btn-previous').on('click', function() {		
		let previousPg = `${job_id}/previous`
		window.location.href = previousPg;
	})
}





//BUTTON LISTER, SEND PATCH W CONTACT TO CONTROLLER, 
const linkContact = function() {
	$('#btn-add-contact').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-contact')
		var action = form.attr('action')
		var c_id = form.serialize()

		$.ajax({url: `/users/${user_id}/jobs/${job_id}/add_contact`, 
			data: c_id, 
			type: "PATCH", 
            success: function (data) {
            	contact = new Contact(data, user_id)
				$("#job-contacts").append(contact.formatSpan())
                alert('success') 
            },
            error: function (data) {
                alert('no success') }
        })
	})
}


//BUTTON LISTENER, SEND PATCH W DOCUMENT TO CONTROLLER, 
const linkDocument = function() {
	$('#btn-add-document').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-document')
		var action = form.attr('action')
		var d_id = form.serialize()

		$.ajax({url: `/users/${user_id}/jobs/${job_id}/add_document`,
		data: d_id,
		type: "PATCH", 
        success: function (data) {
        	doc = new Document(data, user_id)
			$("#job-documents").append(doc.formatSpan())
            alert('success') },
        error: function (data) {
            alert('no success') }
        })
	})
}





//BUTTON LISTENER, REMOVE JOB CONTACT 
const unlinkContact = function() {
	$('span.remove-contact').on('click', function(e) {
		let c_id = this.id
	    $.get(`/users/${user_id}/jobs/${job_id}/unlink_contact?q=${c_id}`, function(data) {
	    	let id = data['id']
	    	$("#contactItem-" + id).remove()
	    	$("#" + id).remove()	    	
	    	//AND REMOVE THE SPAN CHILD <BR>   	

	    })
	})
}


//BUTTON LISTENER, REMOVE JOB DOCUMENT 
const unlinkDocument = function() {
	$('span.remove-document').on('click', function(e) {
		let d_id = this.id
	    $.get(`/users/${user_id}/jobs/${job_id}/unlink_document?q=${d_id}`, function(data) {
	    	let id = data['id']
	    	$("#documentItem-" + id).remove()
	    	$("#" + id).remove()	 
	    	//AND REMOVE THE SPAN CHILD <BR>   	
	    })
	})
}





const docClick = function() {
	var clicks = 0

	$("i.doc").on('click', function() {
		var id = this.id
		console.log('doc')

	if (clicks % 2 == 0) {
		$('.document.'+id).css('display', 'block')
		clicks++
		}
	else {
		$('.document.'+id).css('display', 'none')
		clicks++
		} 
	});
}



const contactClick = function() {
	var clicks = 0

	$("i.contact").on('click', function() {
		var id = this.id
		console.log('contact')

	if (clicks % 2 == 0) {
		$('.contact.'+id).css('display', 'block')
		clicks++
		}
	else {
		$('.contact.'+id).css('display', 'none')
		clicks++
		} 
	});
}





</script>











