<style>
body {
    padding: 0;
    margin: 0;
    /*-webkit-font-smoothing: antialiased;*/
    -moz-osx-font-smoothing: grayscale;
    /*display: flex;*/
    /*flex-direction: column;*/
    min-height: 100vh;
}

.container {
    /*flex-grow: 10;*/
}

#user-show-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.user-item-container {
    border-bottom: solid;
    border-width: 1px;
    border-color: #2d2c2c;
    text-align: left;
    padding: 35px;

}

@media only screen and (min-width: 600px) {
    #user-show-container {
        grid-template-columns: 1fr 1fr;
    }
    .user-item-container:nth-child(odd) {
        border-right: solid;
        border-width: 1px;
    }
}


@media only screen and (min-width: 1000px) {
    #user-show-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .user-item-container {
        min-height: 1200px;
    }
    .user-item-container:nth-child(-n+3) {
        border-right: solid;
        border-width: 1px;
    }
}


</style>





<div class='user-id' data-id="<%= @user.id %>"></div>
<div id='user-show-container'>

    <div id='position-container' class='user-item-container'>
        <h1><%= link_to 'Positions', user_jobs_path(@user) %></h1>
        <div id='job-search'>
            <div>
                <input type='text' id='filter-jobs' class='dash-field' placeholder='filter positions'>        
            </div>            
            <div id="job-list"></div>
        </div>
    </div>


    <div id='task-container' class='user-item-container'>
        <h1><%= link_to 'Tasks', new_user_task_path(@user) %></h1>
        <div id='task-search'>
            <div>
                <input type='text' id='filter-tasks' class='dash-field' placeholder='filter tasks'> 
            </div>
            <div id="task-list"></div>
        </div>
    </div>


    <div id='contact-container' class='user-item-container'>
        <h1><%= link_to 'Contacts', new_user_contact_path(@user) %></h1>
        <div id='contact-search'>
            <div>
                <input type='text' id='filter-contacts' class='dash-field' placeholder='filter contacts'>
            </div>
            <div id='contact-list' data-id="<%= @user.id %>"></div>
        </div>
    </div>


    <div id='document-container' class='user-item-container'>
        <h1><%= link_to 'Documents', new_user_document_path(@user) %></h1>
        <div id='document-search'>
            <div>
                <input type='text' id='filter-documents' class='dash-field' placeholder='filter documents'>
            </div>
            <div id="document-list"></div>
        </div>
    </div>/

</div> <!-- close page -->




<script type="text/javascript" charset="utf-8">

// var initialized = false;


let items = {}

let filters = {
    jobString: '',
    taskString: '',
    contactString: '',
    documentString: ''
}


const jobSearchListener = function () {
    $('#filter-jobs').on('keyup', function () {
        filters['jobString'] = $(this).val()
        renderJobs()
    })
}

const renderJobs = function () {

    if (filters['jobString'] != '') {
        filteredJobs = getFilteredJobs(items['jobs'], filters['jobString'])
    }
    else {
        filteredJobs = items['jobs']
    }
    setJobs(filteredJobs)
}

const getFilteredJobs = function (jobs, substring) {
    return jobs.filter(function (j) {
        return j.company.includes(substring.toLowerCase()) || j.position.includes(substring.toLowerCase())
    })
}

const setJobs = function (filteredJobs) {
    $("#job-list").empty()
    $.each(filteredJobs, function(i, job){
        let j = new Job(job, id)
        $("#job-list").append(j.formatJobIndex())
    })
}






const renderTasks = function () {

    if (filters['taskString'] != '') {
        filteredTasks = getFilteredTasks(items['tasks'], filters['taskString'])
    }
    else {
        filteredTasks = items['tasks']
    }
    setTasks(filteredTasks)
}

const getFilteredTasks = function (tasks, substring) {
    return tasks.filter(function (t) {
        return t.title.includes(substring.toLowerCase())
    })
}

const setTasks = function (filteredTasks) {
    $("#task-list").empty()
    $.each(filteredTasks, function(i, task){
        let t = new Task(task, id)
        $("#task-list").append(t.formatIndex())
    })
}

const taskSearchListener = function () {
    $('#filter-tasks').on('keyup', function () {
        filters['taskString'] = $(this).val()
        renderTasks()
    })
}




const renderContacts = function () {

    if (filters['contactString'] != '') {
        filteredContacts = getFilteredContacts(items['contacts'], filters['contactString'])
    }
    else {
        filteredContacts = items['contacts']
    }
    setContacts(filteredContacts)
}

const getFilteredContacts = function (contacts, substring) {
    return contacts.filter(function (c) {
        return c.first_name.includes(substring.toLowerCase()) || c.last_name.includes(substring.toLowerCase())
    })
}

const setContacts = function (filteredContacts) {
    $("#contact-list").empty()
    $.each(filteredContacts, function(i, contact){
        let c = new Contact(contact, id)
        $("#contact-list").append(c.formatIndex())
    })
}

const contactSearchListener = function () {
    $('#filter-contacts').on('keyup', function () {
        filters['contactString'] = $(this).val()
        renderContacts()
    })
}




const renderDocuments = function () {

    if (filters['documentString'] != '') {
        filteredDocuments = getFilteredDocuments(items['documents'], filters['documentString'])
    }
    else {
        filteredDocuments = items['documents']
    }
    setDocuments(filteredDocuments)
}

const getFilteredDocuments = function (documents, substring) {
    return documents.filter(function (d) {
        return d.title.includes(substring.toLowerCase()) 
    })
}

const setDocuments = function (filteredDocuments) {
    $("#document-list").empty()
    $.each(filteredDocuments, function(i, document){
        let d = new Document (document, id)
        $("#document-list").append(d.formatIndex())
    })
}

const documentSearchListener = function () {
    $('#filter-documents').on('keyup', function () {
        filters['documentString'] = $(this).val()
        renderDocuments()
    })
}



$( document ).on('turbolinks:load', function(){
    id = $(".user-id").data("id")

    $.get(`/users/${id}.json`, function(data) {
        items = data
        // if(initialized) {return; /*stop here*/}
        // initialized = true;

        renderJobs()
        jobSearchListener()

        renderTasks()
        taskSearchListener()

        renderContacts()
        contactSearchListener()

        renderDocuments()
        documentSearchListener()

    });

})

</script>





