
<h1>contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Workplace</th>
    <th>Phone</th>
    <th>Email</th>
    <th>LinkedIn</th>
    <th></th>
    <th></th>
  </tr>
  
  <% @contacts.each do |contact| %>
	  <tr>
	  	<% c_name = "#{contact.first_name}  #{contact.last_name}" %>

	    <td><%= link_to c_name, contact_path(contact) %></td>
	    <td><%= contact.workplace %></td>
	    <td><%= contact.phone %></td>
	    <td><%= contact.email %></td>
	    <td><%= contact.linkedin %></td>
	    <td><%= link_to "Edit", edit_contact_path(contact) %></td>
	    <td><%= link_to "Delete", contact_path(contact), :method => :delete %></td>
	  </tr>
  <% end %>

</table>

	
