
<style>


#contact-show-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.edit-delete {
    float: right;
}

.contact-item-container {
    padding: 15px;
    border: solid black 1px;
}

.heading-container {
    grid-column: 2/4;
    grid-row: 1;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    text-align: center;
}


.details-container {
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
}

.link-job-container {
    grid-column: 2;
    grid-row: 3;
}

.link-task-container {
    grid-column: 3;
    grid-row: 3;
}

</style>


<div class='user-id' data-id="<%= @contact.user.id %>"></div>
<div class='contact-id' data-id="<%= @contact.id %>"></div>

<div id='contact-show-container'>

		<div class='heading-container contact-item-container'>
			<h1><%= @contact.first_name %> <%= @contact.last_name %> - <%= @contact.workplace %></h1>
		</div>



		<div class='details-container contact-item-container'>
			<div><h3><%= @contact.email %></h3></div>
			<div><h3><%= @contact.phone %></h3></div>
			<div id='contact_reference'></div>
			<div id='reference-btn'></div>
		    <td><%= link_to "Edit", edit_user_contact_path(@contact.user, @contact) %></td>
		    <td><%= link_to "Delete", user_contact_path(@contact.user, @contact), :method => :delete %></td>
		</div>



	    <div id='jobs' class='link-job-container contact-item-container'>
	        <h2>LINKED JOBS</h2>
	        <div class='linked-items'>
	            <% if @contact.jobs.length > 0 %>
	                <%= render partial: "jobs/job", collection: @contact.jobs || "No Linked Jobs" %>
	            <% else %>
	                <h3><%= link_to '* Link This Contact To A Job', user_jobs_path(@contact.user) %></h3>
	            <% end %>
	        </div>
	    </div> <!-- close column -->



	    <div id='tasks' class='link-task-container contact-item-container'>
	        <h2>TASKS</h2>
	        <div class='linked-items'>
	            <% if @contact.tasks.length > 0 %>
	                <%= render partial: "tasks/task", collection: @contact.tasks || "No Linked Tasks" %>
	            <% else %>
	                <h3><%= link_to '* Link This Contact To A Task', user_jobs_path(@contact.user) %></h3>
	            <% end %>
	        </div>
	    </div> <!-- close column -->



</div> <!-- close wrapper -->






<script>



$(document).ready(function () {
	user_id = $(".user-id").data("id")
	contact_id = $(".contact-id").data("id")

	$.get(`/users/${user_id}/contacts/${contact_id}.json`, function(data) {
		contact = new Contact(data, user_id)
	    displayRefDetails(contact)
		buttonRefFunc(contact)

	});
})



const buttonRefFunc = function(contact) {
	$('#add-reference').on('click', function() {
	    $.get(`/users/${user_id}/contacts/${contact_id}/add_reference?q=${!contact.reference}`, function(data) {
	    	$('#contact_reference').empty()
	    	$('#reference-btn').empty()
			$('#contact_reference').append(contact.referenceString(!contact.reference))
			$('#reference-btn').append(contact.referenceButton(!contact.reference))
	    })
	})
}



const displayRefDetails = function (contact) {
	$('#contact_reference').append(contact.referenceString())
	$('#reference-btn').append(contact.referenceButton())
}




</script>


















