
<%= form_for [@document.user, @document] do |f| %>

	<div class='field'>
		<%= f.label :title, "Title" %><br>
		<%= f.text_field :title, id: 'title', :required => true  %>
	</div>

	<div class='field'>
		<%= f.label :description, "Description" %><br>
		<%= f.text_field :description, id: 'description' %>
	</div>

	<div class='field'>
		<%= f.label :doctype, "Doctype" %><br>
		<%= f.select :doctype, [ 'Resume','Cover Letter','Correspondence', 'Examples', 'Other' ], :prompt => 'Select One', :required => true %>
	</div>

	<div class='field'>
		<%= f.label :url, "Link" %><br>
		<%= f.text_field :url, id: 'url' %>
	</div>

	<div class='actions'>
		<%= f.submit "SAVE" %>
	</div>

<% end %>














