<div id='document-show-container' class='show-container'>
        <div class='heading-container document-item-container'>
            <div class='edit-delete'>
                <td><%= link_to "Edit", edit_document_path(@document) %></td>
                <td><%= link_to "Delete", document_path(@document), :method => :delete %></td>
            </div>
            <span class="headline pg-btn btn-previous"><i class="fa fa-long-arrow-left"></i></span>
            <h1 id='document-title' class='headline'><%= @document.title %></h1>
            <span class="headline pg-btn btn-next"><i class="fa fa-long-arrow-right"></i></span>
        </div> <!-- close container -->

        <div id='doc-info-container'>
            <section id='doc-info-section'>
                <div><h3 class='link-to'><a href="<%= @document.url %>" target="_blank">Go to Document</a></h3></div>
                <div><h3>Last update: <%= format_date(@document.updated_at) %></h3></div>
            </section>
        </div> <!-- close container -->

        <div id='doc-description-container'>
            <h3>Description: <%= @document.description %></h3>
        </div> <!-- close container -->


    <div class='linked-items'>
        <section class='linked-items-section'>
            <div id='document-linked-jobs' class='linked-container'>
                <h2>LINKED JOBS</h2>
                <div class='linked-items'>
                    <% if @document.jobs.length > 0 %>
                        <%= render partial: "jobs/job", collection: @document.jobs || "No Linked Jobs" %>
                    <% else %>
                        <h3><%= link_to '* Link This Document To A Job', jobs_path %></h3>
                    <% end %>
                </div>
            </div> <!-- close container -->

            <div id='document-linked-tasks' class='linked-container'>
                <h2>LINKED TASKS</h2>
                <div class='linked-items'>
                    <% if @document.tasks.length > 0 %>
                        <%= render partial: "tasks/task", collection: @document.tasks || "No Linked Tasks" %>
                    <% else %>
                        <h3><%= link_to '* Link This Document To A Task', new_task_path %></h3>

                    <% end %>
                </div>
            </div>  <!-- close container -->
        </section>
    </div> <!-- close linked items -->
</div> <!-- close wrapper -->
